# World Poverty Analysis

![](https://global.unitednations.entermediadb.net/assets/mediadb/services/module/asset/downloads/preset/Libraries/Production+Library/23-06-2021_WFP_Madagascar.jpg/image1170x530cropped.jpg)

### Contents
1. Abstract
2. Dataset
3. Goal
4. Importing required libraries and Dataset
5. Data Analysis
    * Which Country is having Highest Poverty in Urban Areas.
    * Which Country is having Highest and Lowest Population suffering from Poverty.
    * What is the Intensity of Deprivation in Asian Countries.
    * Which 10 Countries are the Poorest Countries.
    * Which Countries’ Rural Population is having highest Poverty Index in the World.
    * Analyzing Poverty in Afghanistan.
    * What is the Difference between India and Afghanistan in terms of Poverty Index.
6. Conclusion

### Abstract
At the dawn of the 21st century we are still a long way from achieving what has eluded humanity for thousands of years, a world free from hunger and poverty. The past thirty years, however, have brought us closer to reaching this goal in a large part of the developing world. The lives of millions have been transformed at a pace unparalleled in human history and to an extent that would have seemed unthinkable only a generation ago.

However, there is no room for complacency. Even today, close to 1.2 billion people - a fifth of the world's population - continue to live in conditions of abject poverty. Almost 800 million people in the developing world are chronically hungry. A basic right, the right to adequate and nutritious food, which most people take for granted, remains a distant dream for those who fight with food shortages every day of their lives. The presence of deep poverty and hunger on such a vast scale in a world of apparent opulence is a moral outrage.

What is encouraging is that the international community has adopted the reduction of poverty and hunger eradication as overarching goals for development. Starting in the early 1990s, targets have been agreed upon for the reduction of poverty in its various forms and dimensions. Goals have been set for reducing poverty, raising school enrolment, moving towards gender equality, cutting infant and maternal mortality, improving access to reproductive health services, and adopting national strategies for sustainable development. In addition, at the World Food Summit, held in Rome in 1996, all nations committed themselves to the goal of halving the number of undernourished people from around 800 million to 400 million by 2015. Together, these targets have been adopted in the Millennium Development Goals which offer the promise of making the world a better place for the whole of humanity.

The dimensions of hunger and malnutrition are alarming and cannot leave anyone indifferent. An estimated 174 million under-five children in the developing world were malnourished in 1996-98, and 6.6 million out of 12.2 million deaths among children in that age group are associated with malnutrition.

Hunger is an important cause as well as an effect of poverty. The effects of hunger go beyond its terrible toll on those who suffer from it. Hunger has substantial economic costs for individuals, families and whole societies. Labour, often the only asset of the poor, is devalued for the hungry. Mental and physical health is compromised by lack of food, cutting productivity, output and the wages that people earn. Chronically hungry people cannot accumulate the financial or human capital which would allow them to escape poverty. And hunger has an inter-generational dimension, with undernourished mothers giving birth to underweight children. In societies where hunger is widespread, economic growth, an essential element in sustainable poverty reduction, is severely compromised.

### Dataset
In this project the datasets that I have used are collected from Kaggle. Here are the links :
1. Kiva crowdfunding dataset : https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding
2. Multidimensional poverty measures : https://www.kaggle.com/ophi/mpi
3. World population : https://www.kaggle.com/walla2ae/world-population

### Goal
The goal of this project is to find out these following problem statements - 

> * a.	Which Country is having Highest Poverty in Urban Areas.
> * b.	Which Country is having Highest and Lowest Population suffering from Poverty.
> * c.	What is the Intensity of Deprivation in Asian Countries.
> * d.	Which 10 Countries are the Poorest Countries.
> * e.	Which Countries’ Rural Population is having highest Poverty Index in the World.
> * f.	Analyzing Poverty in Afghanistan.
> * g.	What is the Difference between India and Afghanistan in terms of Poverty Index.

### Let's start with importing the libraries to be used throughout the notebook.

In [1]:
#importing the necessary libraries

#for mathematical opeartions and data manipulation
import numpy as np
import pandas as pd

#for data visualisation
import matplotlib.pyplot as plt
import seaborn as sns

#warnings
import warnings
warnings.filterwarnings('ignore')

### Now let's read the datasets that we have

In [2]:
#Reading the dataset
data_nat = pd.read_csv("MPI_national.csv")
data_subnat = pd.read_csv("MPI_subnational.csv")

#Displaying the shape of both the datasets
print("The shape of MPI_national dataset is: ",data_nat.shape)
print("The shape of MPI_subnational is: ",data_subnat.shape)

The shape of MPI_national dataset is:  (102, 8)
The shape of MPI_subnational is:  (984, 8)

### Let's check the data contained in the two datasets

In [3]:
#The first five rows of the MPI_national dataset
data_nat.head()

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural
0,KAZ,Kazakhstan,0.000,0.0,33.3,0.000,0.09,33.3
1,SRB,Serbia,0.000,0.1,41.4,0.002,0.50,40.3
2,KGZ,Kyrgyzstan,0.000,0.1,40.2,0.003,0.70,37.1
3,TUN,Tunisia,0.000,0.1,35.6,0.012,3.18,38.7
4,ARM,Armenia,0.001,0.2,33.3,0.001,0.39,36.9

1. MPI Urban   -   MPI stands for Multidimensional Poverty Index(It is the weighted average number of deprivations poor poeple experience at the same time)


2. HeadcountRatio Urban  -   It is the proportions of the population that exists below the poverty line.


3. Intensity of Deprivation Urban  -  Average percentage of deprivation experienced by people in multidimensional poverty.

In [4]:
# The first five rows of the MPI_subnational dataset
data_subnat.head()

,ISO country code,Country,Sub-national region,World region,MPI National,MPI Regional,Headcount Ratio Regional,Intensity of deprivation Regional
0,AFG,Afghanistan,Badakhshan,South Asia,0.295,0.387,67.5,57.3
1,AFG,Afghanistan,Badghis,South Asia,0.295,0.466,79.3,58.8
2,AFG,Afghanistan,Baghlan,South Asia,0.295,0.300,59.7,50.3
3,AFG,Afghanistan,Balkh,South Asia,0.295,0.301,55.7,54.1
4,AFG,Afghanistan,Bamyan,South Asia,0.295,0.325,61.0,53.3

## Data Analysis
Exploratory data analysis (EDA) is used by data scientists to analyze and investigate data sets and summarize their main characteristics, often employing data visualization methods. It can also help determine if the statistical techniques you are considering for data analysis are appropriate.

### a. Which country is having highest poverty in Urban Areas

In [5]:
#maximum Headcount ratio of Urban Areas
data_nat['Headcount Ratio Urban'].max()

82.5

In [6]:
#Looking at the data when Headcount Ratio Urban is equal to 82.5
data_nat[data_nat['Headcount Ratio Urban']==82.5]

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural
101,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8

**Observation :** South Sudan is the country which has the highest number of people falling below the poverty line. So, it is country having highest poverty in Urban Areas.

******************

### b. Which Country is having Highest and Lowest Population suffering from Poverty.

In [7]:
#we created a new column which contain Headcount Ratio of both Urban as well as Rural Area
data_nat['Total Headcount Ratio'] = data_nat['Headcount Ratio Urban']+data_nat['Headcount Ratio Rural']

In [8]:
#Returns the country having maximum HeadCount Ratio
data_nat[data_nat['Total Headcount Ratio']==data_nat['Total Headcount Ratio'].max()] [['Country']]

         Country
101  South Sudan

In [9]:
#Returns the country having minimum Headcount Ratio
data_nat[data_nat['Total Headcount Ratio']==data_nat['Total Headcount Ratio'].min()] [['Country']]

      Country
0  Kazakhstan

**Observation :**
1. South Sudan is having highest population suffering from poverty.

2. kazakhstan is having lowest population suffering from poverty.

-----------------------

### c. What is the Intensity of Deprivation in Asian Countries.

In [10]:
#merges both the datasets together on Country column
data = pd.merge(data_nat,data_subnat, on='Country',how='outer')

In [11]:
#Checking the head of the newly merged dataset
data.head()

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural,Total Headcount Ratio,ISO country code,Sub-national region,World region,MPI National,MPI Regional,Headcount Ratio Regional,Intensity of deprivation Regional
0,KAZ,Kazakhstan,0.000,0.0,33.3,0.000,0.09,33.3,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SRB,Serbia,0.000,0.1,41.4,0.002,0.50,40.3,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KGZ,Kyrgyzstan,0.000,0.1,40.2,0.003,0.70,37.1,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TUN,Tunisia,0.000,0.1,35.6,0.012,3.18,38.7,3.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARM,Armenia,0.001,0.2,33.3,0.001,0.39,36.9,0.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Value counts for World Region
data['World region'].value_counts()

Sub-Saharan Africa             431
Latin America and Caribbean    218
East Asia and the Pacific      128
Arab States                    115
South Asia                      81
Europe and Central Asia         11
Name: World region, dtype: int64

We can notice that "Asia" is separated so, we combined all the regions of Asia together and replace them with "Asia".

In [13]:
data['World region'] = data['World region'].replace(('East Asia and the Pacific','South Asia','Europe and Central Asia'),('Asia'))

In [14]:
data['World region'].value_counts()

Sub-Saharan Africa             431
Asia                           220
Latin America and Caribbean    218
Arab States                    115
Name: World region, dtype: int64

In [15]:
data.tail()

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural,Total Headcount Ratio,ISO country code,Sub-national region,World region,MPI National,MPI Regional,Headcount Ratio Regional,Intensity of deprivation Regional
1003,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8,176.5,SSD,Western Bahr el Ghazal,Sub-Saharan Africa,0.557,0.491,84.9,57.9
1004,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8,176.5,SSD,Lakes,Sub-Saharan Africa,0.557,0.605,96.9,62.5
1005,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8,176.5,SSD,Western Equatoria,Sub-Saharan Africa,0.557,0.456,85.2,53.5
1006,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8,176.5,SSD,Central Equatoria,Sub-Saharan Africa,0.557,0.391,75.6,51.7
1007,SSD,South Sudan,0.459,82.5,55.7,0.591,94.0,62.8,176.5,SSD,Eastern Equatoria,Sub-Saharan Africa,0.557,0.561,92.5,60.7

In [16]:
'''We sorted the "Intensity of Deprivation" column in ascending order for only Asian Countries'''

data[data['World region']=='Asia']['Intensity of Deprivation Urban'].sort_values(ascending=True)

26     33.9
27     33.9
28     33.9
29     33.9
30     33.9
       ...
826    47.3
825    47.3
836    47.3
830    47.3
837    47.3
Name: Intensity of Deprivation Urban, Length: 220, dtype: float64

**Observation :** The average percentage of deprivation in Asian Countries is between 40% to 48% percent.

------------------------------------

### d.  Which 10 Countries are the Poorest Countries?

In [17]:
#grouped by country and aggregated by maximum of Total Headcount Ratio
d = data_nat.groupby('Country')['Total Headcount Ratio'].agg(max)

In [18]:
d = d.reset_index()

In [19]:
d.sort_values(by='Total Headcount Ratio',ascending=False).head(10).style.background_gradient(cmap='copper')

**Observation :**
The 10 most poorest countries are
1. South Sudan
2. Chad
3. Somalia
4. Niger
5. Sierra Leone
6. Central African Republic
7. Liberia
8. Ethiopia
9. Burkina Faso
10. Congo

***********************

### e. Which Countries’ Rural Population is having highest Poverty Index in the World?

In [20]:
#Returns the country having highest MPI Rural
data[data['MPI Rural']==data['MPI Rural'].max()][['Country']]

    Country
938   Niger
939   Niger
940   Niger
941   Niger
942   Niger
943   Niger
944   Niger
945   Niger

**Observation :** Niger is the country whose Rural Population has the highest Poverty Index in the World.

*********************

### f. Analyzing Poverty in Afghanistan.

In [21]:
#Creates a new dataframe which contains poverty details of only Afghanistan
afg = data[data['Country']=='Afghanistan']
afg

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural,Total Headcount Ratio,ISO country code,Sub-national region,World region,MPI National,MPI Regional,Headcount Ratio Regional,Intensity of deprivation Regional
740,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Badakhshan,Asia,0.295,0.387,67.5,57.3
741,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Badghis,Asia,0.295,0.466,79.3,58.8
742,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Baghlan,Asia,0.295,0.300,59.7,50.3
743,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Balkh,Asia,0.295,0.301,55.7,54.1
744,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Bamyan,Asia,0.295,0.325,61.0,53.3
745,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Daykundi,Asia,0.295,0.313,65.1,48.1
746,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Farah,Asia,0.295,0.319,61.4,52.0
747,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Faryab,Asia,0.295,0.250,49.4,50.6
748,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Ghazni,Asia,0.295,0.245,47.4,51.6
749,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Ghor,Asia,0.295,0.384,74.6,51.5
750,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Helmand,Asia,0.295,0.261,61.8,42.2
751,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Herat,Asia,0.295,0.353,63.3,55.8
752,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Jawzjan,Asia,0.295,0.293,60.9,48.1
753,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Kabul,Asia,0.295,0.117,25.3,46.1
754,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Kandahar,Asia,0.295,0.437,72.1,60.7
755,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Kapisa,Asia,0.295,0.280,53.6,52.3
756,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Khost,Asia,0.295,0.296,57.8,51.1
757,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Kunarha,Asia,0.295,0.269,58.3,46.2
758,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Kunduz,Asia,0.295,0.294,60.5,48.5
759,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Laghman,Asia,0.295,0.369,70.4,52.4
760,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Logar,Asia,0.295,0.187,41.4,45.2
761,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Nangarhar,Asia,0.295,0.287,54.9,52.4
762,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Nimroz,Asia,0.295,0.231,45.4,50.9
763,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Nooristan,Asia,0.295,0.611,93.7,65.2
764,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Paktika,Asia,0.295,0.137,28.1,48.6
765,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Paktya,Asia,0.295,0.218,45.2,48.3
766,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Panjsher,Asia,0.295,0.120,25.8,46.6
767,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Parwan,Asia,0.295,0.294,58.6,50.1
768,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Samangan,Asia,0.295,0.350,64.3,54.4
769,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Sar-E-Pul,Asia,0.295,0.341,67.8,50.3
770,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Takhar,Asia,0.295,0.361,65.1,55.4
771,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Urozgan,Asia,0.295,0.624,94.5,66.0
772,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Wardak,Asia,0.295,0.340,67.9,50.1
773,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46,AFG,Zabul,Asia,0.295,0.175,34.6,50.4

In [22]:
#checking for the subnational region which has highest MPI
afg[afg['MPI Regional']==afg['MPI Regional'].max()][['Sub-national region']]

    Sub-national region
771             Urozgan

In [23]:
afg.groupby('Sub-national region')['MPI Regional'].agg(max).sort_values(ascending=False)

Sub-national region
Urozgan       0.624
Nooristan     0.611
Badghis       0.466
Kandahar      0.437
Badakhshan    0.387
Ghor          0.384
Laghman       0.369
Takhar        0.361
Herat         0.353
Samangan      0.350
Sar-E-Pul     0.341
Wardak        0.340
Bamyan        0.325
Farah         0.319
Daykundi      0.313
Balkh         0.301
Baghlan       0.300
Khost         0.296
Kunduz        0.294
Parwan        0.294
Jawzjan       0.293
Nangarhar     0.287
Kapisa        0.280
Kunarha       0.269
Helmand       0.261
Faryab        0.250
Ghazni        0.245
Nimroz        0.231
Paktya        0.218
Logar         0.187
Zabul         0.175
Paktika       0.137
Panjsher      0.120
Kabul         0.117
Name: MPI Regional, dtype: float64

In [24]:
afg.groupby('Sub-national region')['Headcount Ratio Regional'].agg(max).sort_values(ascending=False)

Sub-national region
Urozgan       94.5
Nooristan     93.7
Badghis       79.3
Ghor          74.6
Kandahar      72.1
Laghman       70.4
Wardak        67.9
Sar-E-Pul     67.8
Badakhshan    67.5
Daykundi      65.1
Takhar        65.1
Samangan      64.3
Herat         63.3
Helmand       61.8
Farah         61.4
Bamyan        61.0
Jawzjan       60.9
Kunduz        60.5
Baghlan       59.7
Parwan        58.6
Kunarha       58.3
Khost         57.8
Balkh         55.7
Nangarhar     54.9
Kapisa        53.6
Faryab        49.4
Ghazni        47.4
Nimroz        45.4
Paktya        45.2
Logar         41.4
Zabul         34.6
Paktika       28.1
Panjsher      25.8
Kabul         25.3
Name: Headcount Ratio Regional, dtype: float64

In [25]:
afg.groupby('Sub-national region')['Intensity of deprivation Regional'].agg(max).sort_values(ascending=False)

Sub-national region
Urozgan       66.0
Nooristan     65.2
Kandahar      60.7
Badghis       58.8
Badakhshan    57.3
Herat         55.8
Takhar        55.4
Samangan      54.4
Balkh         54.1
Bamyan        53.3
Nangarhar     52.4
Laghman       52.4
Kapisa        52.3
Farah         52.0
Ghazni        51.6
Ghor          51.5
Khost         51.1
Nimroz        50.9
Faryab        50.6
Zabul         50.4
Sar-E-Pul     50.3
Baghlan       50.3
Parwan        50.1
Wardak        50.1
Paktika       48.6
Kunduz        48.5
Paktya        48.3
Daykundi      48.1
Jawzjan       48.1
Panjsher      46.6
Kunarha       46.2
Kabul         46.1
Logar         45.2
Helmand       42.2
Name: Intensity of deprivation Regional, dtype: float64

**Observation :**

Poverty in Afghanistan
1. The Rural population of Afghanistan has more proportion of people living under poverty line.
2. Urozgan is the sub national region in Afghanistan which is having highest MPI, Intensity of deprivation and Headcount Ratio.
3. Around 45% deprivation is experienced by Urban people and 53% deprivation is experienced by Rural people in Afghanistan.

****************************

### g. What is the Difference between India and Afghanistan in terms of Poverty Index?

In [26]:
data_nat[data_nat['Country']=='India']

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural,Total Headcount Ratio
58,IND,India,0.064,14.8,43.3,0.25,53.49,46.7,68.29

In [27]:
data_nat[data_nat['Country']=='Afghanistan']

,ISO,Country,MPI Urban,Headcount Ratio Urban,Intensity of Deprivation Urban,MPI Rural,Headcount Ratio Rural,Intensity of Deprivation Rural,Total Headcount Ratio
79,AFG,Afghanistan,0.132,28.8,45.8,0.347,64.66,53.6,93.46

**Observation :**
1. The Poverty Index of Afghanistan is more than India in Urban as well as Rural.

2. The MPI Urban is double in Afghanistan than India and even the MPI Rural is far more in Afghanistan than India.
*******************

## Conclusion
We have analyzed the dataset and depending on the problem statements we have concluded these following points - 
1. South Sudan is the country which has the highest number of people falling below the poverty line. So, it is country having highest poverty in Urban Areas.
2. South Sudan is having highest population suffering from poverty.
3. Kazakhstan is having lowest population suffering from poverty.
4. The average percentage of deprivation in Asian Countries is between 40% to 48% percent.
5. The 10 most poorest countries are
    1. South Sudan
    2. Chad
    3. Somalia
    4. Niger
    5. Sierra Leone
    6. Central African Republic
    7. Liberia
    8. Ethiopia
    9. Burkina Faso
    10. Congo
6. Niger is the country whose Rural Population has the highest Poverty Index in the World.
7. Poverty in Afghanistan
    1. The Rural population of Afghanistan has more proportion of people living under poverty line.
    2. Urozgan is the sub national region in Afghanistan which is having highest MPI, Intensity of deprivation and Headcount Ratio.
    3. Around 45% deprivation is experienced by Urban people and 53% deprivation is experienced by Rural people in Afghanistan.
8. The Poverty Index of Afghanistan is more than India in Urban as well as Rural.
9. The MPI Urban is double in Afghanistan than India and even the MPI Rural is far more in Afghanistan than India.
*******************